@import url(../styles.css);
@import url(../components/header.css);

body {
  width: 100vw;
  background-color: var(--blackColor);
  font-family: var(--fonte);
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--lightgreyColor);
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 15px 15px 0 0;
  color: var(--darkgreyColor);
}
.login-header {
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.login-header svg {
  width: 25px;
  height: 25px;
  fill: var(--darkgreyColor);
}
.login-header h2 {
  line-height: 30px;
  vertical-align: bottom;
  font-size: 1.3rem;
  vertical-align: bottom;
  font-weight: var(--bold);
}
.login-header p {
  line-height: 30px;
  vertical-align: bottom;
  font-size: 0.8rem;
  font-weight: var(--light);
}

.login-text p {
  vertical-align: bottom;
  font-size: 1rem;
  font-weight: var(--light);
}

.login div.login-form {
  background-color: var(--whiteColor);
  width: 100%;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
}
.login div.login-form a {
  text-decoration: underline;
}
div.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}
.login fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}
fieldset label {
  font-size: 0.9rem;
  font-weight: var(--bold);
  color: var(--darkgreyColor);
}
fieldset input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--greyColor);
}

div.login-form input[type="submit"] {
  width: 150px;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--darkgreyColor);
  color: var(--whiteColor);
  font-weight: var(--bold);
  padding: 0.5rem 1rem;
  justify-self: center;
  margin-top: 1rem;
}
