@import url(../styles.css);
@import url(../components/header.css);

body {
  width: 100vw;
  background-color: var(--blackColor);
  font-family: var(--fonte);
}

.contato {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--lightgreyColor);
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 15px 15px 0 0;
  color: var(--darkgreyColor);
}
.contato-header {
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.contato-header svg {
  width: 25px;
  height: 25px;
  fill: var(--darkgreyColor);
}
.contato-header h2 {
  line-height: 30px;
  vertical-align: bottom;
  font-size: 1.3rem;
  vertical-align: bottom;
  font-weight: var(--bold);
}
.contato-header p {
  line-height: 30px;
  vertical-align: bottom;
  font-size: 0.8rem;
  font-weight: var(--light);
}

.contato-text p {
  vertical-align: bottom;
  font-size: 1rem;
  font-weight: var(--light);
}

.contato div.contato-form{
    background-color: var(--whiteColor);
    width: 100%;
    border-radius: 15px;
    padding: 1rem;
}
div.contato-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contato fieldset{
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .25rem;
    margin-bottom: .5rem;
}
fieldset label{
    font-size: .9rem;
    font-weight: var(--bold);
    color: var(--darkgreyColor);
}
fieldset input,fieldset textarea{
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid var(--greyColor);
}
fieldset select{
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid var(--greyColor);
}

div.contato-form input[type="submit"]{
    width: 150px;
    padding: .5rem;
    border-radius: 5px;
    border:none;
    background-color: var(--darkgreyColor);
    color: var(--whiteColor);
    font-weight: var(--bold);
    padding: .5rem 1rem;
    justify-self: center;
    margin-top: 1rem;
}
