@import url(../components/header.css);
@import url(../components/sorteio-principal.css);
@import url(../components/sorteio-secundario.css);

body {
    width: 100vw;
    background-color: var(--blackColor);
    font-family: var(--fonte);
}
.dashboard{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lightgreyColor);
    gap: 1rem;
    border-radius: 15px;
    margin: 10px;
}
.container-text h3{
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container-dashboard{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 1rem;
}
.card-dashboard{
    margin-top: 15px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 15px;
}
.card-dashboard-two{
    margin-top: 15px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 15px;
}
.container-card-infos{
    
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.container-card-infos span{
    padding-top: 20px;
    padding-left: 5px;
}

.container-card-cotas h4{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}
.container-cards-dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.painel{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lightgreyColor);
    gap: 1rem;
    border-radius: 15px;
    margin: 10px;
}
.container-painel{
    padding: 1rem;
}
.painel h3{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  align-items: center;
}
.btn-buscar{
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  background-color: var(--greenColor);
  border: none;
  color: white;
  border-radius: 4px;
}
.fieldset-cotas{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  border: none;
}
.fieldset-dois{
  border: none;
}
.fieldset-dois select{
  margin-top: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width:100%;
}

.inputCotas{
  margin-left: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width:66%;
}
.inputCotas:focus {
  outline: none;
  box-shadow: 0 0 5px #99c8e9;
  border-color: #99c8e9;
}

.inputCliente{
  margin-left: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width:63.5%;
}
.inputCliente:focus {
  outline: none;
  box-shadow: 0 0 5px #99c8e9;
  border-color: #99c8e9;
}

.painel-top-ganhadores{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lightgreyColor);
    gap: 1rem;
    padding: 1rem 0;
    border-radius: 15px;
    margin: 10px;
    align-items: center;
}

.top-ganhadores{
    width: 100%;
    padding: 10px;
    align-items: center; 
    margin-bottom: 1rem;
  }
  .top-ganhadores a{
    display: flex;
    justify-content: center;
  }
  .painel-top-ganhadores p{
    margin-top: 3px;
  }
  .top-ganhadores h3{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 20px;
  }
  .informacoes-ganhadores{
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    display: flex;
  }
  .cards-ganhadores{
    margin-top: 1.2rem;
    justify-content: space-between;
    display: flex;
  }
  .colocacao-ganhadores{
    background-color: var(--greenColor);
    color: var(--whiteColor);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
  }
  .nome-ganhador{
    max-width: 100px;
  }
  .top-ganhadores svg{
    margin: 1px;
  }

